<div class="header">
	<ul class="nav nav-pills pull-right">
		<li class="active"><a href="#">Home</a></li>
		<li><a href="#">About</a></li>
		<li><a href="#">Contact</a></li>
	</ul>
	<h3 class="text-muted">testApp</h3>
</div>

<div class="jumbotron">
	<h1>'Allo, 'Allo!</h1>
	<p class="lead">Always a pleasure scaffolding your apps.</p>
	<p><a class="btn btn-lg btn-success" href="#">Splendid!</a></p>
</div>

<div class="row marketing">
<h1>Overview</h1>
<p>Quick and dirty app for a todo list using the "Mean" stack.</p>
<ul>
	<li>MongoDB</li>
	<li>Express</li>
	<li>AngularJS</li>
	<li>NodeJS</li>
</ul>
<p>Really Express and Node go hand in hand for the backend.</p>
<p>Supported and scaffolded by Yeoman (Yeoman Express)</p>
</div>
<div>
	<h1>Static Data</h1>
	<ul>
		<li data-ng-repeat="i in awesomeThings">{{i}}</li>
	</ul>
</div>
</div>

<div class="footer">
	<p>♥ from the Yeoman team</p>
</div>